extends layout 

block content 

h2=title 

p welcome to #{title}

p math.pow() is applied to #{num1} is #{pow}

p math.sign() is applied to #{num1} is #{sign}

p  math.tanh() is applied to #{num1} is #{tanh}

p math.trunc() is applied to #{num1} is #{trunc}